
/** This is a css library for the UTILITY Classes */


/* ***** WIDTH Utility **** */
.w-0-p{ width: 0% !important ;}
.w-10-p{ width: 10% !important ;}
.w-20-p{ width: 20% !important ;}
.w-30-p{ width: 30% !important ;}
.w-40-p{ width: 40% !important ;}
.w-50-p{ width: 50% !important ;}
.w-60-p{ width: 60% !important ;}
.w-70-p{ width: 70% !important ;}
.w-80-p{ width: 80% !important ;}
.w-90-p{ width: 90% !important ;}
.w-100-p{ width: 100% !important ;}
.w-max-c{ width: max-content !important ;}
.w-min-c{ width: min-content !important ;}
.w-100-vw{ width: 100vw !important ;}

.max-w-0-p { max-width: 0% !important ;}
.max-w-10-p { max-width: 10% !important ;}
.max-w-20-p { max-width: 20% !important ;}
.max-w-30-p { max-width: 30% !important ;}
.max-w-40-p { max-width: 40% !important ;}
.max-w-50-p { max-width: 50% !important ;}
.max-w-60-p { max-width: 60% !important ;}
.max-w-70-p { max-width: 70% !important ;}
.max-w-80-p { max-width: 80% !important ;}
.max-w-90-p { max-width: 90% !important ;}
.max-w-100-p { max-width: 100% !important ;}
.max-w-max-c { max-width: max-content !important ;}
.max-w-min-c { max-width: min-content !important ;}
.max-w-100-vw{ max-width: 100vw !important ;}

.min-w-0-p { min-width: 0% !important ;}
.min-w-10-p { min-width: 10% !important ;}
.min-w-20-p { min-width: 20% !important ;}
.min-w-30-p { min-width: 30% !important ;}
.min-w-40-p { min-width: 40% !important ;}
.min-w-50-p { min-width: 50% !important ;}
.min-w-60-p { min-width: 60% !important ;}
.min-w-70-p { min-width: 70% !important ;}
.min-w-80-p { min-width: 80% !important ;}
.min-w-90-p { min-width: 90% !important ;}
.min-w-100-p { min-width: 100% !important ;}
.min-w-max-c { min-width: max-content !important ;}
.min-w-min-c { min-width: min-content !important ;}
.min-w-100-vw{ min-width: 100vw !important ;}

.w-1-of-12 { width: 8.3333% !important ;}
.w-2-of-12 { width: 16.6667% !important ;}
.w-3-of-12 { width: 25% !important ;}
.w-4-of-12 { width: 33.3333% !important ;}
.w-5-of-12 { width: 41.6667% !important ;}
.w-6-of-12 { width: 50% !important ;}
.w-7-of-12 { width: 58.3333% !important ;}
.w-8-of-12 { width: 66.6667% !important ;}
.w-9-of-12 { width: 75% !important ;}
.w-10-of-12{ width: 83.3333% !important ;}
.w-11-of-12{ width: 91.6667% !important ;}
.w-12-of-12{ width: 100% !important ;}


/* ***** HEIGHT Utility **** */
.h-0-p{ height: 0% !important ;}
.h-10-p{ height: 10% !important ;}
.h-20-p{ height: 20% !important ;}
.h-30-p{ height: 30% !important ;}
.h-40-p{ height: 40% !important ;}
.h-50-p{ height: 50% !important ;}
.h-60-p{ height: 60% !important ;}
.h-70-p{ height: 70% !important ;}
.h-80-p{ height: 80% !important ;}
.h-90-p{ height: 90% !important ;}
.h-100-p{ height: 100% !important ;}
.h-max-c{ height: max-content !important ;}
.h-min-c{ height: min-content !important ;}
.w-100-vh{ width: 100vh !important ;}

.max-h-0-p { max-height: 0% !important ;}
.max-h-10-p { max-height: 10% !important ;}
.max-h-20-p { max-height: 20% !important ;}
.max-h-30-p { max-height: 30% !important ;}
.max-h-40-p { max-height: 40% !important ;}
.max-h-50-p { max-height: 50% !important ;}
.max-h-60-p { max-height: 60% !important ;}
.max-h-70-p { max-height: 70% !important ;}
.max-h-80-p { max-height: 80% !important ;}
.max-h-90-p { max-height: 90% !important ;}
.max-h-100-p { max-height: 100% !important ;}
.max-h-max-c { max-height: max-content !important ;}
.max-h-min-c { max-height: min-content !important ;}
.max-h-100-vh { max-height: 100vh !important ;}

.min-h-0-p { min-height: 0% !important ;}
.min-h-10-p { min-height: 10% !important ;}
.min-h-20-p { min-height: 20% !important ;}
.min-h-30-p { min-height: 30% !important ;}
.min-h-40-p { min-height: 40% !important ;}
.min-h-50-p { min-height: 50% !important ;}
.min-h-60-p { min-height: 60% !important ;}
.min-h-70-p { min-height: 70% !important ;}
.min-h-80-p { min-height: 80% !important ;}
.min-h-90-p { min-height: 90% !important ;}
.min-h-100-p { min-height: 100% !important ;}
.min-h-max-c { min-height: max-content !important ;}
.min-h-min-c { min-height: min-content !important ;}
.min-h-100-vh { min-height: 100vh !important ;}



/* **** Margins **** */

.m-a-0 { margin: 0  !important ;}
.m-a-xs { margin: 0.125rem !important ;}
.m-a-s { margin: 0.25rem !important ;}
.m-a-m { margin: 0.5rem !important ;}
.m-a-l { margin: 0.75rem !important ;}
.m-a-1 { margin: 1rem !important ;}
.m-a-1s { margin: 1.25rem !important ;}
.m-a-1m { margin: 1.5rem !important ;}
.m-a-1l { margin: 1.75rem !important ;}
.m-a-2 { margin: 2rem !important ;}
.m-a-2s { margin: 2.25rem !important ;}
.m-a-2m { margin: 2.5rem !important ;}
.m-a-2l { margin: 2.75rem !important ;}
.m-a-3 { margin: 3rem !important ;}

.m-i-0 { margin-inline: 0  !important ;}
.m-i-xs { margin-inline: 0.125rem !important ;}
.m-i-s { margin-inline: 0.25rem !important ;}
.m-i-m { margin-inline: 0.5rem !important ;}
.m-i-l { margin-inline: 0.75rem !important ;}
.m-i-1 { margin-inline: 1rem !important ;}
.m-i-1s { margin-inline: 1.25rem !important ;}
.m-i-1m { margin-inline: 1.5rem !important ;}
.m-i-1l { margin-inline: 1.75rem !important ;}
.m-i-2 { margin-inline: 2rem !important ;}
.m-i-2s { margin-inline: 2.25rem !important ;}
.m-i-2m { margin-inline: 2.5rem !important ;}
.m-i-2l { margin-inline: 2.75rem !important ;}
.m-i-3 { margin-inline: 3rem !important ;}
.m-i-a { margin-inline: auto !important ;}

.m-bk-0 { margin-block: 0  !important ;}
.m-bk-xs { margin-block: 0.125rem !important ;}
.m-bk-s { margin-block: 0.25rem !important ;}
.m-bk-m { margin-block: 0.5rem !important ;}
.m-bk-l { margin-block: 0.75rem !important ;}
.m-bk-1 { margin-block: 1rem !important ;}
.m-bk-1s { margin-block: 1.25rem !important ;}
.m-bk-1m { margin-block: 1.5rem !important ;}
.m-bk-1l { margin-block: 1.75rem !important ;}
.m-bk-2 { margin-block: 2rem !important ;}
.m-bk-2s { margin-block: 2.25rem !important ;}
.m-bk-2m { margin-block: 2.5rem !important ;}
.m-bk-2l { margin-block: 2.75rem !important ;}
.m-bk-3 { margin-block: 3rem !important ;}

.m-t-0 { margin-top: 0  !important ;}
.m-t-xs { margin-top: 0.125rem !important ;}
.m-t-s { margin-top: 0.25rem !important ;}
.m-t-m { margin-top: 0.5rem !important ;}
.m-t-l { margin-top: 0.75rem !important ;}
.m-t-1 { margin-top: 1rem !important ;}
.m-t-1s { margin-top: 1.25rem !important ;}
.m-t-1m { margin-top: 1.5rem !important ;}
.m-t-1l { margin-top: 1.75rem !important ;}
.m-t-2 { margin-top: 2rem !important ;}
.m-t-2s { margin-top: 2.25rem !important ;}
.m-t-2m { margin-top: 2.5rem !important ;}
.m-t-2l { margin-top: 2.75rem !important ;}
.m-t-3 { margin-top: 3rem !important ;}

.m-r-0 { margin-right: 0  !important ;}
.m-r-xs { margin-right: 0.125rem !important ;}
.m-r-s { margin-right: 0.25rem !important ;}
.m-r-m { margin-right: 0.5rem !important ;}
.m-r-l { margin-right: 0.75rem !important ;}
.m-r-1 { margin-right: 1rem !important ;}
.m-r-1s { margin-right: 1.25rem !important ;}
.m-r-1m { margin-right: 1.5rem !important ;}
.m-r-1l { margin-right: 1.75rem !important ;}
.m-r-2 { margin-right: 2rem !important ;}
.m-r-2s { margin-right: 2.25rem !important ;}
.m-r-2m { margin-right: 2.5rem !important ;}
.m-r-2l { margin-right: 2.75rem !important ;}
.m-r-3 { margin-right: 3rem !important ;}

.m-b-0 { margin-bottom: 0  !important ;}
.m-b-xs { margin-bottom: 0.125rem !important ;}
.m-b-s { margin-bottom: 0.25rem !important ;}
.m-b-m { margin-bottom: 0.5rem !important ;}
.m-b-l { margin-bottom: 0.75rem !important ;}
.m-b-1 { margin-bottom: 1rem !important ;}
.m-b-1s { margin-bottom: 1.25rem !important ;}
.m-b-1m { margin-bottom: 1.5rem !important ;}
.m-b-1l { margin-bottom: 1.75rem !important ;}
.m-b-2 { margin-bottom: 2rem !important ;}
.m-b-2s { margin-bottom: 2.25rem !important ;}
.m-b-2m { margin-bottom: 2.5rem !important ;}
.m-b-2l { margin-bottom: 2.75rem !important ;}
.m-b-3 { margin-bottom: 3rem !important ;}

.m-l-0 { margin-left: 0  !important ;}
.m-l-xs { margin-left: 0.125rem !important ;}
.m-l-s { margin-left: 0.25rem !important ;}
.m-l-m { margin-left: 0.5rem !important ;}
.m-l-l { margin-left: 0.75rem !important ;}
.m-l-1 { margin-left: 1rem !important ;}
.m-l-1s { margin-left: 1.25rem !important ;}
.m-l-1m { margin-left: 1.5rem !important ;}
.m-l-1l { margin-left: 1.75rem !important ;}
.m-l-2 { margin-left: 2rem !important ;}
.m-l-2s { margin-left: 2.25rem !important ;}
.m-l-2m { margin-left: 2.5rem !important ;}
.m-l-2l { margin-left: 2.75rem !important ;}
.m-l-3 { margin-left: 3rem !important ;}

/* **** Paddings **** */

.p-a-0 { padding: 0  !important ;}
.p-a-xs { padding: 0.125rem !important ;}
.p-a-s { padding: 0.25rem !important ;}
.p-a-m { padding: 0.5rem !important ;}
.p-a-l { padding: 0.75rem !important ;}
.p-a-1 { padding: 1rem !important ;}
.p-a-1s { padding: 1.25rem !important ;}
.p-a-1m { padding: 1.5rem !important ;}
.p-a-1l { padding: 1.75rem !important ;}
.p-a-2 { padding: 2rem !important ;}
.p-a-2s { padding: 2.25rem !important ;}
.p-a-2m { padding: 2.5rem !important ;}
.p-a-2l { padding: 2.75rem !important ;}
.p-a-3 { padding: 3rem !important ;}

.p-i-0 { padding-inline: 0  !important ;}
.p-i-xs { padding-inline: 0.125rem !important ;}
.p-i-s { padding-inline: 0.25rem !important ;}
.p-i-m { padding-inline: 0.5rem !important ;}
.p-i-l { padding-inline: 0.75rem !important ;}
.p-i-1 { padding-inline: 1rem !important ;}
.p-i-1s { padding-inline: 1.25rem !important ;}
.p-i-1m { padding-inline: 1.5rem !important ;}
.p-i-1l { padding-inline: 1.75rem !important ;}
.p-i-2 { padding-inline: 2rem !important ;}
.p-i-2s { padding-inline: 2.25rem !important ;}
.p-i-2m { padding-inline: 2.5rem !important ;}
.p-i-2l { padding-inline: 2.75rem !important ;}
.p-i-3 { padding-inline: 3rem !important ;}

.p-bk-0 { padding-block: 0  !important ;}
.p-bk-xs { padding-block: 0.125rem !important ;}
.p-bk-s { padding-block: 0.25rem !important ;}
.p-bk-m { padding-block: 0.5rem !important ;}
.p-bk-l { padding-block: 0.75rem !important ;}
.p-bk-1 { padding-block: 1rem !important ;}
.p-bk-1s { padding-block: 1.25rem !important ;}
.p-bk-1m { padding-block: 1.5rem !important ;}
.p-bk-1l { padding-block: 1.75rem !important ;}
.p-bk-2 { padding-block: 2rem !important ;}
.p-bk-2s { padding-block: 2.25rem !important ;}
.p-bk-2m { padding-block: 2.5rem !important ;}
.p-bk-2l { padding-block: 2.75rem !important ;}
.p-bk-3 { padding-block: 3rem !important ;}

.p-t-0 { padding-top: 0  !important ;}
.p-t-xs { padding-top: 0.125rem !important ;}
.p-t-s { padding-top: 0.25rem !important ;}
.p-t-m { padding-top: 0.5rem !important ;}
.p-t-l { padding-top: 0.75rem !important ;}
.p-t-1 { padding-top: 1rem !important ;}
.p-t-1s { padding-top: 1.25rem !important ;}
.p-t-1m { padding-top: 1.5rem !important ;}
.p-t-1l { padding-top: 1.75rem !important ;}
.p-t-2 { padding-top: 2rem !important ;}
.p-t-2s { padding-top: 2.25rem !important ;}
.p-t-2m { padding-top: 2.5rem !important ;}
.p-t-2l { padding-top: 2.75rem !important ;}
.p-t-3 { padding-top: 3rem !important ;}

.p-r-0 { padding-right: 0  !important ;}
.p-r-xs { padding-right: 0.125rem !important ;}
.p-r-s { padding-right: 0.25rem !important ;}
.p-r-m { padding-right: 0.5rem !important ;}
.p-r-l { padding-right: 0.75rem !important ;}
.p-r-1 { padding-right: 1rem !important ;}
.p-r-1s { padding-right: 1.25rem !important ;}
.p-r-1m { padding-right: 1.5rem !important ;}
.p-r-1l { padding-right: 1.75rem !important ;}
.p-r-2 { padding-right: 2rem !important ;}
.p-r-2s { padding-right: 2.25rem !important ;}
.p-r-2m { padding-right: 2.5rem !important ;}
.p-r-2l { padding-right: 2.75rem !important ;}
.p-r-3 { padding-right: 3rem !important ;}

.p-b-0 { padding-bottom: 0  !important ;}
.p-b-xs { padding-bottom: 0.125rem !important ;}
.p-b-s { padding-bottom: 0.25rem !important ;}
.p-b-m { padding-bottom: 0.5rem !important ;}
.p-b-l { padding-bottom: 0.75rem !important ;}
.p-b-1 { padding-bottom: 1rem !important ;}
.p-b-1s { padding-bottom: 1.25rem !important ;}
.p-b-1m { padding-bottom: 1.5rem !important ;}
.p-b-1l { padding-bottom: 1.75rem !important ;}
.p-b-2 { padding-bottom: 2rem !important ;}
.p-b-2s { padding-bottom: 2.25rem !important ;}
.p-b-2m { padding-bottom: 2.5rem !important ;}
.p-b-2l { padding-bottom: 2.75rem !important ;}
.p-b-3 { padding-bottom: 3rem !important ;}

.p-l-0 { padding-left: 0  !important ;}
.p-l-xs { padding-left: 0.125rem !important ;}
.p-l-s { padding-left: 0.25rem !important ;}
.p-l-m { padding-left: 0.5rem !important ;}
.p-l-l { padding-left: 0.75rem !important ;}
.p-l-1 { padding-left: 1rem !important ;}
.p-l-1s { padding-left: 1.25rem !important ;}
.p-l-1m { padding-left: 1.5rem !important ;}
.p-l-1l { padding-left: 1.75rem !important ;}
.p-l-2 { padding-left: 2rem !important ;}
.p-l-2s { padding-left: 2.25rem !important ;}
.p-l-2m { padding-left: 2.5rem !important ;}
.p-l-2l { padding-left: 2.75rem !important ;}
.p-l-3 { padding-left: 3rem !important ;}

/*  **** **** ****  Display : Flex  **** **** **** */
.d.n{ display: none !important;}
.d.b{ display: block !important;}
.d-f { display: flex !important ;}
.d-i-f { display: inline-flex !important ;}

.f-w-w{ flex-wrap: wrap !important ;}

/*  **** Flex Direction **** */
.f-d-r { flex-direction: row !important ;}
.f-d-r-r { flex-direction: row-reverse !important ;}
.f-d-c { flex-direction: column !important ;}
.f-d-c-r { flex-direction: column-reverse !important ;}

/*  **** Flex Wrap **** */
.f-w { flex-wrap: wrap !important ;}
.f-n-w { flex-wrap: nowrap !important ;}
.f-w-r { flex-wrap: wrap-reverse !important ;}

/*  **** Justify Content **** */
.j-c-s { justify-content: flex-start !important ;}
.j-c-e { justify-content: flex-end !important ;}
.j-c-c { justify-content: center !important ;}
.j-c-s-b { justify-content: space-between !important ;}
.j-c-s-a { justify-content: space-around !important ;}
.j-c-s-e { justify-content: space-evenly !important ;}

/* **** Align Items **** */
.a-i-s { align-items: flex-start !important ;}
.a-i-e { align-items: flex-end !important ;}
.a-i-c { align-items: center !important ;}
.a-i-b { align-items: baseline !important ;}
.a-i-str { align-items: stretch !important ;}

/* **** Align Content **** */
.a-c-s { align-content: flex-start !important ;}
.a-c-e { align-content: flex-end !important ;}
.a-c-c { align-content: center !important ;}
.a-c-s-b { align-content: space-between !important ;}
.a-c-s-a { align-content: space-around !important ;}
.a-c-s-e { align-content: space-evenly !important ;}

/* **** Align Self **** */
.a-s-a { align-self: auto !important ;}
.a-s-s { align-self: flex-start !important ;}
.a-s-e { align-self: flex-end !important ;}
.a-s-c { align-self: center !important ;}
.a-s-str { align-self: stretch !important ;}

/*  **** Gaps **** */
.g-s { gap: 0.25rem !important ;}
.g-m { gap: 0.5rem !important ;}
.g-l { gap: 0.75rem !important ;}
.g-1 { gap: 1rem !important ;}
.g-1s { gap: 1.25rem !important ;}
.g-1m { gap: 1.5rem !important ;}
.g-1l { gap: 1.75rem !important ;}
.g-2 { gap: 2rem !important ;}
.g-2s { gap: 2.25rem !important ;}
.g-2m { gap: 2.5rem !important ;}
.g-2l { gap: 2.75rem !important ;}
.g-3 { gap: 3rem !important ;}

.g-x-s { column-gap: 0.25rem !important ;}
.g-x-m { column-gap: 0.5rem !important ;}
.g-x-l { column-gap: 0.75rem !important ;}
.g-x-1 { column-gap: 1rem !important ;}
.g-x-1s { column-gap: 1.25rem !important ;}
.g-x-1m { column-gap: 1.5rem !important ;}
.g-x-1l { column-gap: 1.75rem !important ;}
.g-x-2 { column-gap: 2rem !important ;}
.g-x-2s { column-gap: 2.25rem !important ;}
.g-x-2m { column-gap: 2.5rem !important ;}
.g-x-2l { column-gap: 2.75rem !important ;}
.g-x-3 { column-gap: 3rem !important ;}

.g-y-s { row-gap: 0.25rem !important ;}
.g-y-m { row-gap: 0.5rem !important ;}
.g-y-l { row-gap: 0.75rem !important ;}
.g-y-1 { row-gap: 1rem !important ;}
.g-y-1s { row-gap: 1.25rem !important ;}
.g-y-1m { row-gap: 1.5rem !important ;}
.g-y-1l { row-gap: 1.75rem !important ;}
.g-y-2 { row-gap: 2rem !important ;}
.g-y-2s { row-gap: 2.25rem !important ;}
.g-y-2m { row-gap: 2.5rem !important ;}
.g-y-2l { row-gap: 2.75rem !important ;}
.g-y-3 { row-gap: 3rem !important ;}

/*  **** Flex-Grow **** */
.f-g-0 { flex-grow: 0 !important ;}
.f-g-1 { flex-grow: 1 !important ;}
.f-g-2 { flex-grow: 2 !important ;}
.f-g-3 { flex-grow: 3 !important ;}
.f-g-4 { flex-grow: 4 !important ;}
.f-g-5 { flex-grow: 5 !important ;}


/*  **** **** Font Styles  **** **** */

/* **** Font-Family **** */
.ff-sans { font-family: Arial, Helvetica, sans-serif !important ;}
.ff-serif { font-family: Georgia, 'Times New Roman', serif !important ;}
.ff-mono { font-family: 'Courier New', Courier, monospace !important ;}
.ff-system { font-family: system-ui, sans-serif !important ;}
.ff-roboto { font-family: 'Roboto', sans-serif !important ;}
.ff-segoe { font-family: 'Segoe UI', sans-serif !important ;}
.ff-tahoma { font-family: Tahoma, Geneva, sans-serif !important ;}
.ff-verdana { font-family: Verdana, Geneva, sans-serif !important ;}
.ff-monospace{ font-family: monospace !important;}

/* **** Font - Weight **** */
.fw-100 { font-weight: 100 !important ;}
.fw-200 { font-weight: 200 !important ;}
.fw-300 { font-weight: 300 !important ;}
.fw-400 { font-weight: 400 !important ;} /* normal */
.fw-500 { font-weight: 500 !important ;}
.fw-600 { font-weight: 600 !important ;}
.fw-700 { font-weight: 700 !important ;} /* bold */
.fw-800 { font-weight: 800 !important ;}
.fw-900 { font-weight: 900 !important ;}
.fw-b { font-weight: bold !important ;}
.fw-n { font-weight: normal !important ;}
.fw-l { font-weight: lighter !important ;}
.fw-br { font-weight: bolder !important ;}

/* **** Font-Styles **** */
.fs-n { font-style: normal !important ;}
.fs-i { font-style: italic !important ;}
.fs-o { font-style: oblique !important ;}

/* **** Font-Size **** */
.fs-1-px { font-size: 1px !important ;}
.fs-2-px { font-size: 2px !important ;}
.fs-3-px { font-size: 3px !important ;}
.fs-4-px { font-size: 4px !important ;}
.fs-5-px { font-size: 5px !important ;}
.fs-6-px { font-size: 6px !important ;}
.fs-7-px { font-size: 7px !important ;}
.fs-8-px { font-size: 8px !important ;}
.fs-9-px { font-size: 9px !important ;}
.fs-10-px { font-size: 10px !important ;}
.fs-11-px { font-size: 11px !important ;}
.fs-12-px { font-size: 12px !important ;}
.fs-13-px { font-size: 13px !important ;}
.fs-14-px { font-size: 14px !important ;}
.fs-15-px { font-size: 15px !important ;}
.fs-16-px { font-size: 16px !important ;}
.fs-17-px { font-size: 17px !important ;}
.fs-18-px { font-size: 18px !important ;}
.fs-19-px { font-size: 19px !important ;}
.fs-20-px { font-size: 20px !important ;}
.fs-21-px { font-size: 21px !important ;}
.fs-22-px { font-size: 22px !important ;}
.fs-23-px { font-size: 23px !important ;}
.fs-24-px { font-size: 24px !important ;}

.fs-28-px { font-size: 28px !important ;}
.fs-32-px { font-size: 32px !important ;}
.fs-36-px { font-size: 36px !important ;}
.fs-40-px { font-size: 40px !important ;}
.fs-44-px { font-size: 44px !important ;}
.fs-48-px { font-size: 48px !important ;}
.fs-52-px { font-size: 52px !important ;}
.fs-56-px { font-size: 56px !important ;}
.fs-60-px { font-size: 60px !important ;}

/* **** Font-Spacing **** */
.ls-n { letter-spacing: normal !important ;}
.ls-05-px { letter-spacing: 0.5px !important ;}
.ls-1-px { letter-spacing: 1px !important ;}
.ls-2-px { letter-spacing: 2px !important ;}
.ls-3-px { letter-spacing: 3px !important ;}
.ls--1-px { letter-spacing: -1px !important ;}
.ls--2-px { letter-spacing: -2px !important ;}

/* ***** WHITE-SPACE ***** */
.w-s-n { white-space: normal !important ;}
.w-s-nw { white-space: nowrap !important ;}
.w-s-p { white-space: pre !important ;}
.w-s-p-w { white-space: pre-wrap !important ;}
.w-s-p-l { white-space: pre-line !important ;}
.w-s-b { white-space: break-spaces !important ;}

/* *** TEXT-OVERFLOW */
.t-o-c { text-overflow: clip !important ;}
.t-o-e { text-overflow: ellipsis !important ;}
.t-o-n { text-overflow: none !important ;}

/* ***** Text-Alignment ***** */
.t-a-c{ text-align: center !important ;}
.t-a-l{ text-align: left !important ;}
.t-a-r{ text-align: right !important ;}
.t-a-us{ text-align: unset !important ;}

.t-t-ucp { text-transform: uppercase !important ;}
.t-t-lc { text-transform: lowercase !important ;}
.t-t-cap { text-transform: capitalize !important ;}
.t-t-n { text-transform: none !important ;}


/**  **** Position STYLES **** */
.pos-f{ position: fixed !important ;}
.pos-r{ position: relative !important ;}
.pos-a{ position: absolute !important ;}
.pos-s{ position: static !important ;}
.pos-st{ position: sticky !important ;}

.top-0{ top : 0% !important ;}
.left-0{ left: 0% !important ;}
.bottom-0{ bottom: 0% !important ;}
.right-0{ right: 0% !important ;}

/*  **** z-index **** */
.z-i--1{ z-index: -1 !important ;}
.z-i-0{ z-index: 0 !important ;}
.z-i-1{ z-index: 1 !important ;}
.z-i-9{ z-index: 9 !important ;}
.z-i-99{ z-index: 99 !important ;}
.z-i-999{ z-index: 999 !important ;}
.z-i-9999{ z-index: 9999 !important ;}
.z-i-99999{ z-index: 99999 !important ;}
.z-i-999999{ z-index: 999999 !important ;}


/* **** Overflow **** */
.of-a{overflow: auto !important ;}
.of-h{overflow: hidden !important ;}
.of-s{overflow: scroll !important ;}
.of-V{overflow: visible !important ;}

.of-x-a{overflow-x: auto !important ;}
.of-x-h{overflow-x: hidden !important ;}
.of-x-s{overflow-x: scroll !important ;}
.of-x-V{overflow-x: visible !important ;}

.of-y-a{overflow-y: auto !important ;}
.of-y-h{overflow-y: hidden !important ;}
.of-y-s{overflow-y: scroll !important ;}
.of-y-V{overflow-y: visible !important ;}

.s-bar-w-n{scrollbar-width: none !important ;}
.s-bar-w-t{scrollbar-width: thin !important ;}
.s-bar-w-a{scrollbar-width: auto !important ;}
.s-bar-c-t{scrollbar-color: transparent transparent !important ;}

/* ***** BORDER  ***** */

.b-0-px{ border: none  !important ;}
.b-top-0-px{border-top: none  !important ;}
.b-bottom-0-px{border-bottom: none  !important ;}
.b-left-0-px{border-left: none  !important ;}
.b-right-0-px{border-right: none  !important ;}

.b-1-px{ border: 1px solid  !important ;}
.b-2-px{ border: 2px solid  !important ;}
.b-3-px{ border: 3px solid  !important ;}
.b-4-px{ border: 4px solid  !important ;}

.b-t-1-px{ border-top: 1px solid !important ;}
.b-t-2-px{ border-top: 2px solid !important ;}
.b-t-3-px{ border-top: 3px solid !important ;}
.b-t-4-px{ border-top: 4px solid !important ;}

.b-b-1-px{ border-bottom: 1px solid !important ;}
.b-b-2-px{ border-bottom: 2px solid !important ;}
.b-b-3-px{ border-bottom: 3px solid !important ;}
.b-b-4-px{ border-bottom: 4px solid !important ;}

.b-l-1-px{ border-left: 1px solid !important ;}
.b-l-2-px{ border-left: 2px solid !important ;}
.b-l-3-px{ border-left: 3px solid !important ;}
.b-l-4-px{ border-left: 4px solid !important ;}

.b-r-1-px{ border-right: 1px solid !important ;}
.b-r-2-px{ border-right: 2px solid !important ;}
.b-r-3-px{ border-right: 3px solid !important ;}
.b-r-4-px{ border-right: 4px solid !important ;}

.ol-n{ outline: none !important}

/* *** COLORS ***** */
.b-c-b-0{ border-color: black !important ;}
.b-c-b-1{ border-color: #444444 !important ;}
.b-c-b-2{ border-color: #747474 !important ;}
.b-c-b-3{ border-color: #939393 !important ;}
.b-c-b-4{ border-color: #c9c9c9 !important ;}
.b-c-b-5{ border-color: #e5e5e5 !important ;}

.b-rad-1-px{border-radius: 1px !important ;}
.b-rad-0-px{border-radius: 0px !important ;}
.b-rad-2-px{border-radius: 2px !important ;}
.b-rad-3-px{border-radius: 3px !important ;}
.b-rad-4-px{border-radius: 4px !important ;}
.b-rad-5-px{border-radius: 5px !important ;}
.b-rad-6-px{border-radius: 7px !important ;}
.b-rad-7-px{border-radius: 6px !important ;}
.b-rad-9-px{border-radius: 8px !important ;}
.b-rad-8-px{border-radius: 9px !important ;}
.b-rad-11-px{border-radius: 10px !important ;}
.b-rad-10-px{border-radius: 11px !important ;}
.b-rad-12-px{border-radius: 12px !important ;}
.b-rad-14-px{border-radius: 14px !important ;}
.b-rad-16-px{border-radius: 16px !important ;}
.b-rad-18-px{border-radius: 18px !important ;}
.b-rad-20-px{border-radius: 20px !important ;}
.b-rad-50-p{border-radius: 50% !important ;}

.c-b-0{ color: black !important ;}
.c-b-1{ color: #444444 !important ;}
.c-b-2{ color: #747474 !important ;}
.c-b-3{ color: #939393 !important ;}
.c-b-4{ color: #c9c9c9 !important ;}
.c-b-5{ color: #e5e5e5 !important ;}

.c-w{ color: #ffff !important ;}

.fill-b-0{ fill: black !important ;}
.fill-b-1{ fill: #444444 !important ;}
.fill-b-2{ fill: #747474 !important ;}
.fill-b-3{ fill: #939393 !important ;}
.fill-b-4{ fill: #c9c9c9 !important ;}
.fill-b-5{ fill: #e5e5e5 !important ;}

.bg-c-b-0{ background-color: black !important ;}
.bg-c-b-1{ background-color: #444444 !important ;}
.bg-c-b-2{ background-color: #747474 !important ;}
.bg-c-b-3{ background-color: #939393 !important ;}
.bg-c-b-4{ background-color: #c9c9c9 !important ;}
.bg-c-b-5{ background-color: #e5e5e5 !important ;}
.bg-c-w  { background-color: #ffffff !important ;}
.bg-c-ws { background-color: whitesmoke !important ;}

/* ***** Cursor ****** */
.cur-auto { cursor: auto !important ;}
.cur-default { cursor: default !important ;}
.cur-pointer { cursor: pointer !important ;}
.cur-wait { cursor: wait !important ;}
.cur-text { cursor: text !important ;}
.cur-move { cursor: move !important ;}
.cur-help { cursor: help !important ;}
.cur-not-allowed { cursor: not-allowed !important ;}
.cur-progress { cursor: progress !important ;}
.cur-cell { cursor: cell !important ;}
.cur-crosshair { cursor: crosshair !important ;}
.cur-vertical-text { cursor: vertical-text !important ;}
.cur-alias { cursor: alias !important ;}
.cur-copy { cursor: copy !important ;}
.cur-no-drop { cursor: no-drop !important ;}
.cur-grab { cursor: grab !important ;}
.cur-grabbing { cursor: grabbing !important ;}
.cur-all-scroll { cursor: all-scroll !important ;}
.cur-col-resize { cursor: col-resize !important ;}
.cur-row-resize { cursor: row-resize !important ;}
.cur-n-resize { cursor: n-resize !important ;}
.cur-e-resize { cursor: e-resize !important ;}
.cur-s-resize { cursor: s-resize !important ;}
.cur-w-resize { cursor: w-resize !important ;}
.cur-ne-resize { cursor: ne-resize !important ;}
.cur-nw-resize { cursor: nw-resize !important ;}
.cur-se-resize { cursor: se-resize !important ;}
.cur-sw-resize { cursor: sw-resize !important ;}
.cur-ew-resize { cursor: ew-resize !important ;}
.cur-ns-resize { cursor: ns-resize !important ;}
.cur-zoom-in { cursor: zoom-in !important ;}
.cur-zoom-out { cursor: zoom-out !important ;}
.u-s-none { user-select: none;}
.u-s-auto { user-select: auto;}
.u-s-all { user-select: all;}
/* **** TRANSITION ***** */
.tran-a-l-1{ transition: all linear 0.1s !important ;}
.tran-a-l-2{ transition: all linear 0.2s !important ;}
.tran-a-l-3{ transition: all linear 0.3s !important ;}
.tran-a-l-4{ transition: all linear 0.4s !important ;}
.tran-a-l-5{ transition: all linear 0.5s !important ;}
.tran-a-l-6{ transition: all linear 0.6s !important ;}
.tran-a-l-7{ transition: all linear 0.7s !important ;}
.tran-a-l-8{ transition: all linear 0.8s !important ;}
.tran-a-l-9{ transition: all linear 0.9s !important ;}
.tran-a-l-10{ transition: all linear 1.0s !important ;}

.tran-e-l-1{ transition: all ease 0.1s !important ;}
.tran-e-l-2{ transition: all ease 0.2s !important ;}
.tran-e-l-3{ transition: all ease 0.3s !important ;}
.tran-e-l-4{ transition: all ease 0.4s !important ;}
.tran-e-l-5{ transition: all ease 0.5s !important ;}
.tran-e-l-6{ transition: all ease 0.6s !important ;}
.tran-e-l-7{ transition: all ease 0.7s !important ;}
.tran-e-l-8{ transition: all ease 0.8s !important ;}
.tran-e-l-9{ transition: all ease 0.9s !important ;}
.tran-e-l-10{ transition: all ease 1.0s !important ;}

.tran-ei-l-1{ transition: all ease-in 0.1s !important ;}
.tran-ei-l-2{ transition: all ease-in 0.2s !important ;}
.tran-ei-l-3{ transition: all ease-in 0.3s !important ;}
.tran-ei-l-4{ transition: all ease-in 0.4s !important ;}
.tran-ei-l-5{ transition: all ease-in 0.5s !important ;}
.tran-ei-l-6{ transition: all ease-in 0.6s !important ;}
.tran-ei-l-7{ transition: all ease-in 0.7s !important ;}
.tran-ei-l-8{ transition: all ease-in 0.8s !important ;}
.tran-ei-l-9{ transition: all ease-in 0.9s !important ;}
.tran-ei-l-10{ transition: all ease-in 1.0s !important ;}

.tran-eo-l-1{ transition: all ease-out 0.1s !important ;}
.tran-eo-l-2{ transition: all ease-out 0.2s !important ;}
.tran-eo-l-3{ transition: all ease-out 0.3s !important ;}
.tran-eo-l-4{ transition: all ease-out 0.4s !important ;}
.tran-eo-l-5{ transition: all ease-out 0.5s !important ;}
.tran-eo-l-6{ transition: all ease-out 0.6s !important ;}
.tran-eo-l-7{ transition: all ease-out 0.7s !important ;}
.tran-eo-l-8{ transition: all ease-out 0.8s !important ;}
.tran-eo-l-9{ transition: all ease-out 0.9s !important ;}
.tran-eo-l-10{ transition: all ease-out 1.0s !important ;}

.tran-eio-l-1{ transition: all ease-in-out 0.1s !important ;}
.tran-eio-l-2{ transition: all ease-in-out 0.2s !important ;}
.tran-eio-l-3{ transition: all ease-in-out 0.3s !important ;}
.tran-eio-l-4{ transition: all ease-in-out 0.4s !important ;}
.tran-eio-l-5{ transition: all ease-in-out 0.5s !important ;}
.tran-eio-l-6{ transition: all ease-in-out 0.6s !important ;}
.tran-eio-l-7{ transition: all ease-in-out 0.7s !important ;}
.tran-eio-l-8{ transition: all ease-in-out 0.8s !important ;}
.tran-eio-l-9{ transition: all ease-in-out 0.9s !important ;}
.tran-eio-l-10{ transition: all ease-in-out 1.0s !important ;}


/* OPACITY */
.o-1-of-10{ opacity: 0.1 !important ;}
.o-2-of-10{ opacity: 0.2 !important ;}
.o-3-of-10{ opacity: 0.3 !important ;}
.o-4-of-10{ opacity: 0.4 !important ;}
.o-5-of-10{ opacity: 0.5 !important ;}
.o-6-of-10{ opacity: 0.6 !important ;}
.o-7-of-10{ opacity: 0.7 !important ;}
.o-8-of-10{ opacity: 0.8 !important ;}
.o-9-of-10{ opacity: 0.9 !important ;}
.o-10-of-10{ opacity: 1 !important ;}


/* ***** BOX-SHADOW ****** */
.box-s-1{ box-shadow: 0px 0px 1px 0px #16161696; }
.box-s-2{ box-shadow: 0px 0px 2px 0px #16161696; }
.box-s-3{ box-shadow: 0px 0px 3px 0px #16161696; }
.box-s-4{ box-shadow: 0px 0px 4px 0px #16161696; }
.box-s-5{ box-shadow: 0px 0px 5px 0px #16161696; }
.box-s-6{ box-shadow: 0px 0px 6px 0px #16161696; }
.box-s-7{ box-shadow: 0px 0px 7px 0px #16161696; }
.box-s-8{ box-shadow: 0px 0px 8px 0px #16161696; }
.box-s-9{ box-shadow: 0px 0px 9px 0px #16161696; }
.box-s-10{ box-shadow: 0px 0px 10px 0px #16161696; }


/* ******* SCALE *********** */
.s-1{ scale: 1;}
.s-1-1{ scale: 1.1;}
.s-1-2{ scale: 1.2;}
.s-1-3{ scale: 1.3;}
.s-1-4{ scale: 1.4;}
.s-1-5{ scale: 1.5;}
.s-1-6{ scale: 1.6;}
.s-1-7{ scale: 1.7;}
.s-1-8{ scale: 1.8;}
.s-1-9{ scale: 1.9;}
.s-2{ scale: 2;}
.s-2-1{ scale: 2.1;}
.s-2-2{ scale: 2.2;}
.s-2-3{ scale: 2.3;}
.s-2-4{ scale: 2.4;}
.s-2-5{ scale: 2.5;}
.s-2-6{ scale: 2.6;}
.s-2-7{ scale: 2.7;}
.s-2-8{ scale: 2.8;}
.s-2-9{ scale: 2.9;}
.s-3{ scale: 3;}
.s-3-1{ scale: 3.1;}
.s-3-2{ scale: 3.2;}
.s-3-3{ scale: 3.3;}
.s-3-4{ scale: 3.4;}
.s-3-5{ scale: 3.5;}
.s-3-6{ scale: 3.6;}
.s-3-7{ scale: 3.7;}
.s-3-8{ scale: 3.8;}
.s-3-9{ scale: 3.9;}